<form class="form-horizontal model-editor" method="post" enctype="multipart/form-data" id="channel-editor"
      data-target="channel">
    <fieldset>
        <a name="basic-info"></a>
        <legend>基础信息</legend>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="company_name">公司名称</label>
            <div class="col-sm-10">
                <input name="company_name" id="company_name" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="ad_type">产品类型</label>
            <div class="col-sm-10">
                <select name="ad_type" id="ad_type" class="form-control" required>
                    <option value="">无分类</option>
                    <option value="1">阅读</option>
                    <option value="2">游戏</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="address">推广ID管理（输入相关地址）</label>
            <div class="col-sm-10">
                <input name="address" id="address" class="form-control"/>
            </div>
        </div>

        <div class="form-group app">
            <label class="col-sm-2 control-label" for="ad_desc">广告描述</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="6" name="ad_desc" id="ad_desc" maxlength="1024" required></textarea>
            </div>
        </div>

        <div class="form-group app">
            <label class="col-sm-2 control-label" for="ad_lib">广告版本</label>
            <div class="col-sm-10">
                <input name="ad_lib" id="ad_lib" class="form-control" />
            </div>
        </div>
        <div class="form-group app">
            <label class="col-sm-2 control-label" for="ad_size">广告大小</label>
            <div class="col-sm-10">
                <input name="ad_size" id="ad_size" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="pack_name">广告包名</label>
            <div class="col-sm-10">
                <input name="pack_name" id="pack_name" class="form-control" readonly />
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label" for="ad_type">付款模式</label>
            <div class="col-sm-10">
                <select name="ad_type" id="ad_type" class="form-control" required>
                    <option value="1">现金</option>
                    <option value="2">网上转账</option>
                </select>
            </div>
        </div>

        <div class="form-group app">
            <label class="col-sm-2 control-label" for="ad_desc">广告要求</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="6" name="ad_desc" id="ad_desc" maxlength="1024" required></textarea>
            </div>
        </div>

        <div class="form-group app">
            <label class="col-sm-2 control-label" for="ad_desc">备注</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="6" name="ad_desc" id="ad_desc" maxlength="1024" required></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="address">报备邮件</label>
            <div class="col-sm-10">
                <input name="address" id="address" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="pic_path">广告LOGO</label>
            <div class="col-sm-6 uploader" data-url="{{API}}file/" data-accept="image/*" data-name="pic_path">
                {{#if pic_path}}
                    <div class="su-item">
                        <img src="{{UPLOAD}}{{pic_path}}" class="img-thumbnail">
                    </div>
                {{else}}
                    <div class="su-placeholder" data-initial="请上传PNG文件，尺寸128x128。" data-progress="上传图片中.."></div>
                {{/if}}
                <label class="btn btn-info btn-block su-upload-button">
                    <i class="fa fa-image"></i> 选择图标并上传
                </label>
                <input type="hidden" name="pic_path" value="{{pic_path}}" class="su-url">
            </div>
        </div>

        <div class="form-group Android">
            <label class="col-sm-2 control-label" for="ad_shoot">广告截图</label>
            <div class="col-sm-6 uploader" data-url="{{API}}file/" data-accept="image/*" data-name="ad_shoot" data-multiple="true" data-append="true">
                {{#if shoots}}
                    {{#each shoots}}
                        <div class="su-item">
                            <img src="{{../UPLOAD}}{{.}}" class="img-thumbnail">
                        </div>
                    {{/each}}
                {{else}}
                    <div class="su-placeholder su-grid col-2 su-removable" data-initial="请上传两张JPG文件，尺寸480x800。" data-progress="上传文件中.."></div>
                {{/if}}
                <label class="btn btn-info btn-block su-upload-button">
                    <i class="fa fa-image"></i> 选择广告截图并上传
                </label>
                <input type="hidden" name="ad_shoot" value="{{ad_shoot}}" class="su-url">
            </div>
        </div>
    </fieldset>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="alert alert-msg" style="display: none;"></div>
            <button class="btn btn-block btn-lg btn-primary"><i class="fa fa-save"></i> 提交</button>
        </div>
    </div>
</form>