<form class="form-horizontal model-editor" method="post" enctype="multipart/form-data" id="client-ad-editor" data-target="client-ad">
    <fieldset>
        <a name="basic-info"></a>
        <legend>基础信息</legend>

        <div class="form-group">
            <label class="col-sm-2 control-label">所属业务</label>
            <div class="col-sm-10 platform select-button">
                <input type="radio" name="type" value="1" id="platform-jia" checked>
                <label for="platform-jia" class="btn btn-primary btn-type" data-type="1">应用优化</label>
                <input type="radio" name="type" value="2" id="platform-yi">
                <label for="platform-yi" class="btn btn-primary btn-type" data-type="2">贷款平台</label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="name">产品名称</label>
            <div class="col-sm-10">
                <input name="name" id="name" class="form-control"/>
            </div>
        </div>

        <div class="form-group" id="cooperation1">
            <label class="col-sm-2 control-label" for="cooperation_type1">合作方式</label>
            <div class="col-sm-10">
                <select name="cooperation_type" id="cooperation_type1" class="form-control" required>
                    <option value="1">积分墙</option>
                    <option value="2">机刷</option>
                    <option value="3">评论</option>
                    <option value="4">下载量</option>
                    <option value="5">CPC</option>
                    <option value="6">CPT</option>
                    <option value="7">CPD</option>
                </select>
            </div>
        </div>


        <div class="form-group" id="cooperation2">
            <label class="col-sm-2 control-label" for="cooperation_type2">合作方式</label>
            <div class="col-sm-10">
                <select name="cooperation_type" id="cooperation_type2" class="form-control" required>
                    <option value="8">注册</option>
                    <option value="9">成功放款</option>
                    <option value="10">返佣</option>
                    <option value="11">注册+返佣</option>
                    <option value="12">授信</option>
                </select>
            </div>
        </div>

        <div class="form-group" id="market-type">
            <label class="col-sm-2 control-label">评论市场</label>
            <div class="col-sm-10 platform select-button">
                <input type="radio" name="market_type" value="0" id="market_type-0" checked>
                <label for="market_type-0" class="btn btn-primary btn-type" data-type="0">iOS好评</label>

                <input type="radio" name="market_type" value="1" id="market_type-1">
                <label for="market_type-1" class="btn btn-primary btn-type" data-type="1">安卓-小米</label>

                <input type="radio" name="market_type" value="2" id="market_type-2">
                <label for="market_type-2" class="btn btn-primary btn-type" data-type="2">安卓-VIVO</label>

                <input type="radio" name="market_type" value="3" id="market_type-3">
                <label for="market_type-3" class="btn btn-primary btn-type" data-type="3">安卓-OPPO</label>

                <input type="radio" name="market_type" value="4" id="market_type-4">
                <label for="market_type-4" class="btn btn-primary btn-type" data-type="4">安卓-华为</label>

                <input type="radio" name="market_type" value="5" id="market_type-5">
                <label for="market_type-5" class="btn btn-primary btn-type" data-type="5">安卓-应用宝</label>

                <input type="radio" name="market_type" value="6" id="market_type-6">
                <label for="market_type-6" class="btn btn-primary btn-type" data-type="6">安卓-百度</label>

                <input type="radio" name="market_type" value="7" id="market_type-7">
                <label for="market_type-7" class="btn btn-primary btn-type" data-type="7">安卓-360</label>

                <input type="radio" name="market_type" value="8" id="market_type-8">
                <label for="market_type-8" class="btn btn-primary btn-type" data-type="8">安卓-魅族</label>

                <input type="radio" name="market_type" value="9" id="market_type-9">
                <label for="market_type-9" class="btn btn-primary btn-type" data-type="9">安卓-金立</label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="money">价格(元)</label>
            <div class="col-sm-10">
                <input type="number" step="0.1"  name="money" id="money" class="form-control"/>
            </div>
        </div>

        <div class="form-group" id="form-rate">
            <label class="col-sm-2 control-label" for="rate">分成百分比</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <input type="number" name="rate" id="rate" class="form-control"/>
                    <span class="input-group-addon">%</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="link">产品链接</label>
            <div class="col-sm-10">
                <input name="link" id="link" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="online_time">上线日期</label>
            <div class="col-sm-10">
                <input type="date" class="form-control datetimepicker" name="online_time" data-format="YYYY-MM-DD">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="online_time">下线日期</label>
            <div class="col-sm-10">
                <input type="date" class="form-control datetimepicker" name="offline_time" data-format="YYYY-MM-DD">
            </div>
        </div>

        <div class="form-group agreement">
            <label class="col-sm-2 control-label" for="agreement_id">关联合同</label>
            <div class="col-sm-5">
                <select name="agreement_id" id="agreement_id" class="form-control collection-select"
                        data-collection-id="agreement" data-url="{{API}}j_agreement/" required>
                    <script type="text/x-handlebars-template">
                        {{{{raw-helper}}}}
                            <option value="{{id}}">{{full_name}}（{{number}}）</option>
                        {{{{/raw-helper}}}}
                    </script>
                </select>
            </div>
            <div class="col-sm-5">
                <div class="input-group">
                    <input class="form-control agreement-keyword" placeholder="合同名称，或编号">
                    <span class="input-group-btn">
            <button type="button" class="btn btn-default search-agreement-button">
              <i class="fa fa-search"></i>
            </button>
          </span>
                </div>
            </div>
            <p class="help-block col-sm-10 col-sm-offset-2">
                可以通过旁边的搜索框搜索合同。<br>
            </p>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="owner">负责商务</label>
            <div class="col-sm-10">
                <select name="owner" id="owner" class="form-control" required>
                    {{#each owners}}
                        <option value="{{@key}}">{{.}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="execute_owner">执行商务</label>
            <div class="col-sm-10">
                <select name="execute_owner" id="execute_owner" class="form-control" required>
                    {{#each execute_owners}}
                        <option value="{{@key}}">{{.}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="comment">备注</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="6" name="comment" id="comment" maxlength="1024"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="alert alert-msg" style="display: none;"></div>
                <button class="btn btn-block btn-lg btn-primary"><i class="fa fa-save"></i> 提交</button>
            </div>
        </div>
    </fieldset>
</form>